<div class="container mt-4">

  <div class="card shadow-lg p-4 mb-4 text-center">
    <h1 class="mb-3">🎲 DADOS</h1>
    <div class="d-flex justify-content-center gap-3">
      <app-dados></app-dados>
      <app-dados></app-dados>
      <app-dados></app-dados>
    </div>
  </div>
  <div class="card shadow-lg p-4 mb-4">
    <app-cronometro [inicio]="15" (multiplo10)="actualizar($event)"></app-cronometro>
    <h2>Evento</h2>
    <h3>{{mensaje}}</h3>
  </div>
  <div class="card shadow-lg p-4 mb-4">
    <h3 class="suma mb-3">Selector de Suma</h3>
    <app-suma [minimo]="1" [maximo]="10" #selector1></app-suma>
  
    <div class="mt-3">
      <button class="btn btn-primary me-2" (click)="selector1.fijar(1)">Fijar en 1</button>
      <button class="btn btn-warning me-2" (click)="selector1.fijar(5)">Fijar en 5</button>
      <button class="btn btn-success" (click)="selector1.fijar(10)">Fijar en 10</button>
    </div>
  </div>
  
  <div class="card shadow-lg p-4 mb-4 text-center">
    <h1 class="mb-3">📊 BARRA DE PROGRESO</h1>
    <app-progress-bar [value]="currentProgress" [max]="100"></app-progress-bar>
    <button class="btn btn-primary mt-3" (click)="increaseProgress()">Aumentar progreso</button>
  </div>

  <div class="card shadow-lg p-4 mb-4">
    <app-tabla></app-tabla>
  </div>

  <div class="card shadow-lg p-4 mb-4">
    <h1>LISTA</h1>
    <app-otro></app-otro>
  </div>
  <div class="card shadow-lg p-4 mb-4">
    <h1>FORMULARIO CON CHECKBOX</h1>
    <app-formulario></app-formulario>
  </div>


  <router-outlet></router-outlet>
</div>

