.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.2s ease-in-out;
    text-align: center;
  }
  button
  {
    max-width: 20em;
    align-self: center;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  